part of '{{business_snake_case}}_screen.dart';

class {{business_pascal_case}}View extends StatelessWidget {
  const {{business_pascal_case}}View({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    return const Scaffold();
  }
}
